:root {
    --squareWidth: calc(min(10vh, 12vw));
    --rowCol: rgb(132, 112, 222);
    --colCol: rgb(223, 108, 108);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
}

body {
    text-align: center;
    font-family: sans-serif;
    position: relative;
}

#board {
    position: relative;
    margin: auto;
    left: calc(var(--squareWidth) / 2 + 5px);
    width: fit-content;
}

button {
    font-size: 1.1em;
}

#finalScore * {
    margin-top: 0;
    margin-bottom: 0.2em;
}

.rowHighlight {
    position: absolute;

    border-radius: 20px;
    background-color: rgba(30, 78, 251, 0.389);

    mix-blend-mode: multiply;
}

.colHighlight {
    position: absolute;

    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.379);

    mix-blend-mode: multiply;
}

.square {
    border: 4px solid;

    margin: 2px;

    font-size: calc(var(--squareWidth) / 2);

    display: inline-block;

    width: var(--squareWidth);
    height: var(--squareWidth);

    line-height: var(--squareWidth);
    cursor: default;

    border-radius: 16px;

    font-family: serif;
}

.square.blank {
    visibility: hidden;
}

.square.scoring {
    visibility: hidden;
    border-color: transparent;
    font-weight: bolder;
    color: var(--rowCol);
    font-family: sans-serif;
}
.square.scoring.columnScore {
    color: var(--colCol);
}
.square.scoring.visible {
    visibility: visible;
}

.row.finalRow {
    display: none;
}
.row.finalRow.visible {
    display: unset;
}

.row .square:hover:not(.isSet):not(.scoring) {
    background-color: rgb(249, 229, 205);
    cursor: pointer;
}

.row .square.isSet {
    background-color: rgb(249, 229, 205);
}

#nextLetter {
    background-color: rgb(249, 229, 205);
}

.desc {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.25em;
}
